@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto), sans-serif;
  --font-heading: var(--font-bricolage), sans-serif;
  --font-alt: var(--font-montserrat), sans-serif;
  --font-serif: var(--font-roboto-slab), serif;

  --color-primary: #16661F;
  --color-secondary: #000000;
  --color-accent: #61CE70;
  
  --color-nims-dark: #04130A;
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }
}
